<!DOCTYPE html>
<html>
    <head>
        <link rel='icon', href='/img/weather.png'>
        <title>About</title>
        <link rel='stylesheet', href='./css/style.css'>
    </head>

    <body>
        <div class="content">
            {{>header}}
            <p>This website was created by Rishav Basak. It uses mapbox and open weather api! </p>
            <img class='portrait'src="./img/2020-04-25-181108_4.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>

